/* ---- Menü (GRID alapú) ---- */
nav {
    background-color: #333;
}

nav ul {
    list-style: none;
    /* ne legyen felsorolásjel */
    margin: 0;
    padding: 0;
    display: grid;
    /* GRID használata */
    grid-auto-flow: column;
    /* egymás mellé kerüljenek */
    justify-content: center;
    /* középre igazítás vízszintesen */
    align-items: center;
    /* középre igazítás függőlegesen */
    gap: 20px;
    /* távolság a menüpontok között */
    transition: background-color 0.3s ease;
}

nav a {
    text-decoration: none;
    /* ne legyen aláhúzva */
    color: white;
    font-size: 18px;
    padding: 10px 15px;
    display: block;
    transition: color 0.3s ease;
}

/* Hover esemény — az UL háttérszíne és betűszín is változik */
nav li:hover {
    background-color: #1d1b1b;
}

nav li:hover a {
    color: rgb(252, 144, 4);
}

/* ---- Cikkdobozok (GRID alapú) ---- */
article {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
      /*  grid-auto-flow: column; */
    /* min. 200px szélesség */
    gap: 20px;
    justify-content: center;
}

.cikk {
    display: grid;
    /* belső tartalom is grid */
    grid-template-rows: auto 1fr auto;

}

article .cikk:nth-child(3){
    order:-10;
}

@media screen and (max-width:600px) {
    
nav ul{
    grid-template-columns: 1fr;
   
    /* GRID használata */
    grid-auto-flow: row;
    /* egymás mellé kerüljenek */
  
    /* középre igazítás függőlegesen */
    gap: 5px;
}
}