/* ---- Menü (GRID alapú) ---- */
nav {
    background-color: #333;
}

nav ul {
    list-style: none;
    /* ne legyen felsorolásjel */
    margin: 0;
    padding: 0;
    display: grid;
    /* GRID használata */
    grid-auto-flow: column;
    /* egymás mellé kerüljenek */
    justify-content: center;
    /* középre igazítás vízszintesen */
    align-items: center;
    /* középre igazítás függőlegesen */
    gap: 20px;
    /* távolság a menüpontok között */
    transition: background-color 0.3s ease;
}

nav a {
    text-decoration: none;
    /* ne legyen aláhúzva */
    color: white;
    font-size: 18px;
    padding: 10px 15px;
    display: block;
    transition: color 0.3s ease;
}

/* Hover esemény — az UL háttérszíne és betűszín is változik */
nav li:hover {
    background-color: #1d1b1b;
}

nav li:hover a {
    color: rgb(252, 144, 4);
}

/* ---- Cikkdobozok (GRID alapú) ---- */
article {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 250px));

    gap: 20px;
    justify-content: space-around;


}

.cikk {
    display: grid;
    grid-template-rows: 250px 100px auto;
}

.cikk div {
    order: -1
}

main {
    max-width: 1000px;
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-areas: "h h"
        "n n"
        "ar as"
        "f f";
}

header {
    grid-area: h
}

nav {
    grid-area: n
}

article {
    grid-area: ar
}

aside {
    grid-area: as
}

footer {
    grid-area: f
}

@media screen and (max-width:600px) {
    main {
        width: 100%;

        grid-template-columns: 1fr;
        grid-template-areas: "h"
            "n"
            "as"
            " ar"
            "f ";
    }

    nav ul {
        grid-template-columns: 1fr;

        /* GRID használata */
        grid-auto-flow: row;
        /* egymás mellé kerüljenek */

        /* középre igazítás függőlegesen */
        gap: 5px;
    }
}